<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authentication</title>
    <script src="/script/authentication.js"></script>
    <script src="/script/responseHandler.js"></script>
    <script src="/script/common/header.js"></script>
    <link rel="stylesheet" href="/style/header.css">
    <link rel="stylesheet" href="/style/authentication.css">
</head>
<body>
<div id="header"></div>

<div class="container">
    <h2>Login</h2>
    <form id="loginForm">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="button" id="togglePassword">Show Password</button>
        </div>

        <button id="loginButton" type="button" onclick="authenticate()">Login</button>
    </form>
    <div id="message"></div>
</div>

</body>
</html>